doctype html
//
    Read Only by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Elias Uriegas
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        link(rel='stylesheet', href='assets/css/main.css')
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    body
        // Header
        section#header
            header
                span.image.avatar
                    img(src='images/avatar.jpg', alt='')
                h1#logo
                    a(href='/') Elias Uriegas
                p Programmer | Economics Nerd
            nav#nav
                ul
                    li
                        a.active(href='#one') About Me
                    li
                        a(href='#two') Things I Do
                    li
                        a(href='#three') Current Projects
                    li
                        a(href='#four') Contact
            footer
                ul.icons
                    li
                        a.icon.fa-twitter(href='https://twitter.com/Eli_ilE')
                            span.label Twitter
                    li
                        a.icon.fa-instagram(href='https://instagram.com/eli_ile02/')
                            span.label Instagram
                    li
                        a.icon.fa-github(href='https://github.com/seemethere')
                            span.label Github
                    li
                        a.icon.fa-envelope(href='mailto:eliasuriegas@gmail.com')
                            span.label Email
        // Wrapper
        #wrapper
            // Main
            #main
                // One
                section#one
                    .container
                        header.major
                            h2 About Me
                            p
                                | I&apos;m just a nerd who loves
                                br
                                |  programming and learning about 
                                br
                                |  a lot of different things.
                        p
                            | Years ago I was an admin and developer for a semi-popular Minecraft server, 
                            a(href='http://www.minecraftforum.net/forums/servers/pc-servers/765523-dont-drop-the-soap-prison-server-1-5-155-slots-no') MCPrison
                            | , but now I spend most of my time just trying to expand my
                            | developing skills! Right now my focus is on learning everything
                            | to do with web application development. I'm currently learning Javascript and
                            | am in the process of learning full stack web development with the 
                            a(href='http://www.meteor.com') meteor 
                            | framework
                            br
                            br
                            | My degree is in Economics so from time to time I will write about
                            | that, mainly to keep my economics skills sharp.
                // Two
                section#two
                    .container
                        h3 Things I Do
                        p.
                            Right now I'm just trying to develop my skills and become a better developer
                            but there are a couple of things I am ready to do at this very moment!
                        ul.feature-icons
                            li.fa-code Write code in Python, Perl, Java etc.
                            li.fa-github Contribute to 
                                a(href="https://github.com/seemethere") open source 
                                | projects
                            li.fa-pencil Write technical documents and a 
                                a(href="https://seemethere.github.io") blog
                            li.fa-reddit-square Create 
                                a(href="https://github.com/seemethere/nba_gamethread_bot") reddit
                                |  bots
                // Three
                section#three
                    .container
                        h3 Current Projects
                        p
                            | Here are some projects that I am currently active on 
                            br
                            | I am always working on new things so this is not as
                            | definitive of a list as my 
                            a(href="https://github.com/seemethere") github
                            |  page
                        .features
                            article
                                a.image(href='https://github.com/seemethere/nba_py')
                                    img(src='images/nba_py.png', alt='')
                                .inner
                                    h4 nba_py
                                    p
                                        | A python client for the 
                                        a(href="http://stats.nba.com") stats.nba.com 
                                        |  RESTful API. Allows for easily accessible 
                                        | stats for data scientists, hobbyists, and the general populous!
                // Four
                section#four
                    .container
                        h3 Contact
                        p 
                            | Feel free to email me at 
                            a(href='mailto:eliasuriegas@gmail.com') eliasuriegas@gmail.com
            section#footer
                .container
                    ul.copyright
                        li &copy; Elias Uriegas. All rights reserved.
                        li
                            | Design: 
                            a(href='http://html5up.net') HTML5 UP
        // Scripts
        script(src='assets/js/jquery.min.js')
        script(src='assets/js/jquery.scrollzer.min.js')
        script(src='assets/js/jquery.scrolly.min.js')
        script(src='assets/js/skel.min.js')
        script(src='assets/js/util.js')    
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        script(src='assets/js/main.js')
